$break1: 			504px;
$break2: 			1024px;
$break3: 			1170px;

@mixin tablet {
  @media all and (min-width: #{$break1}) {
    @content;
  }
}
@mixin desktop {
  @media all and (min-width: #{$break2}) {
    @content;
  }
}

* {
  //border: yellow solid 3px;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: ivory;
}

header {
  background-color: purple;
  height: 8%;

  span {
    display: block;
    text-align: left;
    margin: auto 0;
  }
}

.thing-wrapper {
  //background-color: white;
  padding-top: 30px;
}

.left-thing {
  //background-color: green;
  @include tablet {
    width: 25%;
    float:left;
    position: absolute;
    top: 27%;
  }

}
.right-thing {
  //background-color: blue;
  @include tablet {
    width: 75%;
    margin-left: 25%;
  }
}

h1 {
  color: blue;
  @include tablet {
    color:red;
  }
  @include desktop {
    color: black;
  }
}


img {
  border: purple solid 25px;
  border-radius: 10px;
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  @include tablet {
    width: 60%;
  }
  @include desktop {
      width: 40%;
  }
}
.at-least-tablet {
  display: none;
  @include tablet {
    display: block;
  }
}

.hide-tablet {
  @include tablet {
    display: none;
  }
}

ul.toolbar {
  padding: 0;
  text-align: center;
  li {
    margin-bottom: 5px;
    list-style-type: none;

  }

}
