@import './variables.scss';

.wrapper {
  margin-top: 8vh;
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 92vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  min-height: 92vh;

}
.middle-text {

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.bio {
  max-width: 85%;
  @include tablet {
    max-width: 50%;
  }
  &:nth-child(2) {
    margin-top: 15px;
  }
}


.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: gray;
  display: flex;
  padding-top: 45px;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  .bio {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    span {
      font-size: 16px;
    }
    .face {
      margin: 0 auto 35px auto;
      img {
        border-radius: 15%;
      }
    }
  }
}


.bg1::after {
  background: url("/static/sitting_bench.jpg") no-repeat center top;
  background-size: cover;
}

.bg2::after {
  background: url("/static/musical_notes.jpg") no-repeat center top;
  background-size: cover;
}

.title {
  font-size: 12vh;
}

.toolbar {
  color: rgb(85, 26, 139);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: white;
  height: 8vh;
  position: fixed;
  top: 0;
  width:100%;
  a.homie {
    font-size: 4vh;
    padding: 2vh 0;
    display: block;
    text-decoration: none;

  }
  div.right {
    display: flex;

    a {
      display: none;
      color: rgb(85, 26, 139);
      font-size: 3vh;
      padding: 2.5vh;
      text-decoration: none;
      @include desktop {
        display: initial;
      }

    }
  }
}

a.hotel {
  appearance: none;
  transition: background-color .5s ease;
  cursor: pointer;
  display: inline-block;
  padding: 1.1rem 3.5rem;
  font-size: 1.6rem;
  border-radius: 2px;
  font-weight: 600;
  outline: none;
  text-align: center;
  box-shadow: none;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(85, 26, 139);
  color: #fff;
  border: none;
  border-radius: 35px;
}