@import './variables.scss';

body {
  background-color: ivory;
}

header {
  background-color: purple;
  height: 8%;

  span {
    display: block;
    text-align: left;
    margin: auto 0;
  }
}

.tool-wrapper {
  border: orange solid 10px;
  min-width:150px;
  //background-color: green;

  ul {
    padding: 0;
    text-align: center;
    min-width: 130px;
    border: greenyellow solid 1px;

    li {
      margin-bottom: 50px;
      margin-top: 50px;
      list-style-type: none;

    }

  }
  @include tablet {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;

  }

}
.right-thing {
  //background-color: blue;
  @include tablet {
    width: 75%;
    margin-left: 25%;
  }
}

h1 {
  text-align: center;
  @include tablet {
  }
  @include desktop {
  }
}

img {
  border: purple solid 25px;
  border-radius: 10px;
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto;
  @include tablet {
    width: 60%;
  }
  @include desktop {
      width: 40%;
  }
}

