<html>
    <head>
        <title>Bug Wedding!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="toolbar">
            <a class="homie" href="/">A VonAlbro Wedding</a>
            <div class="right">
                <a href="/reception">Reception</a>
                <a href="/accomodations">Accomodations</a>
                <a href="/registry">Registry</a>
            </div>
        </div>

    <div class="wrapper">
        <section class="section parallax bg1">
            <h1 class="title">April 27</h1>
        </section>
        <section class="section static">
            <h1>Lincolnshire, IL</h1>
        </section>
        <section class="section parallax bg2">
            <h1 class="title">suck it</h1>
        </section>

    </div>
    <script src="/static/index.bundle.js"></script>
    </body>
</html>