<html>
    <head>
        <title>VonAlbroWedding.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="overlay hiding">
            <svg class="cancel">
                <use xlink:href="#cancel" />
            </svg>
            <div class="left">
                <a href="/">Our Story</a>
                <a href="/details">Details of the Day</a>
                <a href="/accommodations">Accommodations</a>
                <a href="/registry">Registry</a>
            </div>
        </div>



        <div class="toolbar">
            <a class="homie" href="/">A VonAlbro Wedding</a>
            <svg class="menu">
                <use xlink:href="#menu" />
            </svg>
            <div class="right">
                <a href="/#our-story">Our Story</a>
                <a href="/details">Details of the Day</a>
                <a href="/accommodations">Accommodations</a>
                <a href="/registry">Registry</a>
            </div>
        </div>

        <div class="wrapper">
            <section class="section parallax bg1 middle-text">
                <h1 class="title">April 27</h1>
            </section>
            <section class="section static">
                <h2 id="our-story" class="our-story">Our Story</h2>
                <h3 class="in-words">In her words...</h3>
                <div class="bio">
                    <div class="face">
                        <img src="/static/face_placeholder.jpg" alt="">
                    </div>
                    <span>lorem ipsum yelloym lorem ipsum lorem isphum lorem ipsum lorem ipsum lorem isphum lorem ipsum lorem ipsum lorem isphum lorem ipsum lorem ipsum lorem isphum lorem ipsum lorem ipsum lorem isphum lorem ipsum lorem ipsum lorem isphum lorem ipsum yelloym lorem ipsum lorem isphum</span>
                </div>
                <h3 class="in-words">In his words...</h3>
                <div class="bio">
                    <div class="face">
                        <img src="/static/face_placeholder.jpg" alt="">
                    </div>
                    <span>lorem ipsum yelloym lorem ipsum ipsum yelloym lorem ipsum ipsum yelloym lorem ipsum ipsum yelloym lorem ipsum ipsum yelloym lorem ipsum ipsum yelloym lorem ipsum lorem isphum lorem ipsum <yelloym></yelloym> lorem ipsum lorem isphum</span>
                </div>



            </section>
            <section class="section parallax bg2 middle-text">
                <h1 class="title">suck it</h1>
            </section>
            <section class="section static">
                <div>
                    <a class="hotel" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Albro%20VonMoser%20Wedding%5ECHISH%60AVWAVWA%6089%60USD%60false%604%604/26/18%604/28/18%604/6/18&app=resvlink&stop_mobi=yes">Reserve a room in our block</a>
                </div>
            </section>

        </div>
        <script src="/static/index.bundle.js"></script>
    </body>
</html>
