<html>
    <head>
        <title>VonAlbroWedding.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div class="overlay hiding">
            <svg class="cancel">
                <use xlink:href="#cancel" />
            </svg>
            <div class="left">
                <a href="/">Our Story</a>
                <a href="/details">Details of the Day</a>
                <!--<a href="/registry">Registry</a>-->
            </div>
        </div>



        <div class="toolbar">
            <a class="homie" href="/">A VonAlbro Wedding</a>
            <svg class="menu">
                <use xlink:href="#menu" />
            </svg>
            <div class="right">
                <a href="/#our-story">Our Story</a>
                <a href="/details">Details of the Day</a>
                <!--<a href="/registry">Registry</a>-->
            </div>
        </div>

        <div class="wrapper">
            <section class="section parallax bg1 middle-text">
                <h1 class="title"><span>APRIL 27</span></h1>
            </section>

            <section class="static stuffs">
                <div class="section-container">
                    <!--<h2 id="our-story" class="our-story">Our Story</h2>-->
                    <h3 class="in-words">In her words...</h3>
                    <div class="bio">
                        <div class="face">
                            <img src="/static/britt.jpg" alt="">
                        </div>
                        <div class="blurb">
                            <p>I met Doug at a mutual family-friend’s wedding.  We eyed each other throughout the night, but it wasn’t until Psy’s incredibly romantic song “Gangnam Style” came on did he approach me.  We danced for a couple songs and exchanged numbers.  On our first date, we went for drinks at Durty Nellies, and I was struck at how easy and natural our back-and-forth was.  We had the same goofy sense of humor and were both very close to our families.  Those things haven’t changed since our first date and have proven to be our solid foundation.</p>
                            <p>Doug and I moved to Arizona together for about two years and that time, while challenging, was invaluable to our relationship.  We learned how to run a household and co-parent our dogs together.  We started traveling more, exploring the Southwest, and leaned on each other when we got homesick.  While I knew pretty early-on that I could marry Doug, Arizona was the time I knew I would marry Doug.  He is unfailingly kind, generous and optimistic.  </p>
                            <p>I remember when we were poor college students checking-out at Target, two young boys in front of us were each buying an action figure.  As it turned out, the toys were more expensive than their mother anticipated so she only allowed one.  The boy whose toy was not chosen was upset but didn’t protest.  Doug quickly bought the other toy and ran it to the family as they were leaving the store.  He makes sure everyone always feels included and is having a good time. </p>
                            <p>He will be an incredible father, as he is also an enthusiastic and patient teacher.  I’m so lucky to call him my fiance and I’m so excited to continue our adventures together as husband and wife.  </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section parallax bg2 middle-text">
                <h1 class="h1"></h1>
            </section>

            <section class="static stuffs">
                <div class="section-container">

                    <h3 class="in-words">In his words...</h3>
                    <div class="bio">
                        <div class="face">
                            <img src="/static/doug.jpg" alt="">
                        </div>
                        <div class="blurb">
                            <p>Britt is the person I can't believe exists in the world. Since our first early dates, she had me hooked. She's got this awesome, fluid mix of comfort, goofiness, support, and sarcasm. We were and continue to be fire and gasoline through every aspect of life.</p>
                            <p>There's a couple of traits we share, which makes things seem fun and natural. We'll chuckle at the same oddball jokes; we'll smile at similar quirky habits. Then she'll go and make a joke that puts a stop to my day until I'm done laughing. Be careful around her, some things that comes out of her mouth are lethally hilarious.</p>
                            <p>But I always tell her that I love the way she looks at the world. I really do enjoy and live for it. She thingifies the things that are worth thingifying. And the things that don't need to be things? They're not things. She's perfect at that. Tend to what matters, eff the rest, and go play with dogs.</p>
                            <p>There's no way of knowing what lies ahead for us, but I couldn't be happier, more assured, or flipping excited to share it with Britt.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section parallax bg4 middle-text geebeez">
                <div class="stupid">
                    <h1 class="lower">#vonmoseydowntheaisle</h1>
                </div>
            </section>

            <!--<section class="static stuffs">-->
                <!--<div class="section-container">-->

                    <!--<h3 class="in-words">In dog words...</h3>-->
                    <!--<div class="bio">-->
                        <!--<div class="face">-->
                            <!--<img src="/static/dogs.png" alt="">-->
                        <!--</div>-->
                        <!--<div class="blurb">-->
                            <!--<p>Doug and Brittany are two of our favorite humans. They feed us and take us for walks every day. They have this one treat they call a "dentabone?" You gotta try it sometime. Holy smokes is it good.</p>-->
                            <!--<p>We're excited dad got down on one paw and mom said bark. If you're asking us how we feel about it, well... "We do too!"</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</section>-->

            <!--<section class="static stuffs final">-->
                <!--<div class="section-container">-->
                    <!--<h3 class="in-words">Thanks for being awesome</h3>-->
                <!--</div>-->
            <!--</section>-->



        </div>
        <script src="/static/index.bundle.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

    </body>
</html>
