<html>
<head>
    <title>VonAlbroWedding.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="overlay hiding">
    <svg class="cancel">
        <use xlink:href="#cancel" />
    </svg>
    <div class="left">
        <a href="/">Our Story</a>
        <a href="/details">Details of the Day</a>
        <!--<a href="/registry">Registry</a>-->
    </div>
</div>



<div class="toolbar">
    <a class="homie" href="/">A VonAlbro Wedding</a>
    <svg class="menu">
        <use xlink:href="#menu" />
    </svg>
    <div class="right">
        <a href="/">Our Story</a>
        <a href="/details">Details of the Day</a>
        <!--<a href="/registry">Registry</a>-->
    </div>
</div>

<div class="wrapper">
    <section class="section parallax bg3 middle-text">
        <h1 class="title">DETAILS</h1>
    </section>
    <section class="slit normal">

        <div class="map-container">
            <div id="map"></div>
            <div class="info">

                <h2>Ceremony and Reception</h2>
                <div class="address">
                    <span>Noah's Event Venue</span>
                    <span>200 Barclay Blvd</span>
                    <span>Lincolnshire, IL 60069</span>
                </div>
                <div class="copy">
                    <p>We could not be more excited to share this day with you.</p>
                    <p>The ceremony will begin at 6:00 pm on Friday, April 27.</p>
                    <p>Immidiately following the ceremony, get your games and coctails on as the main hall is flipped.</p>
                    <p>The reception will begin at 7:00pm.</p>
                </div>
            </div>
        </div>



    </section>
    <section class="slit normal">

        <div class="container-two">
            <div class="something">
            </div>
            <div class="info" id="hotelScroll">
                <h2>Accomodations</h2>
                <div class="address">
                    <span>Springhill Suites</span>
                    <span>300 Marriott Dr</span>
                    <span>Lincolnshire, IL 60069</span>
                </div>
                <div class="copy">
                    <p>The hotel aint too far away, see fo yoself!</p>
                    <p>There will be shuttles to and from the event, but if the weather aint to bad. you can leg it. </p>
                    <a class="hotel" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Albro%20VonMoser%20Wedding%5ECHISH%60AVWAVWA%6089%60USD%60false%604%604/26/18%604/28/18%604/6/18&app=resvlink&stop_mobi=yes">Reserve a room in our block</a>
                </div>
            </div>
        </div>



    </section>
</div>

<script src="/static/index.bundle.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ2LcBr14JdLLG4eEHISl0G9TV5-kyI98&callback=initMap">
</script>
<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">

</body>
</html>
