<html>
<head>
    <title>VonAlbroWedding.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="overlay hiding">
    <svg class="cancel">
        <use xlink:href="#cancel" />
    </svg>
    <div class="left">
        <a href="/">Our Story</a>
        <a href="/details">Details of the Day</a>
        <a href="/accommodations">Accommodations</a>
        <a href="/registry">Registry</a>
    </div>
</div>



<div class="toolbar">
    <a class="homie" href="/">A VonAlbro Wedding</a>
    <svg class="menu">
        <use xlink:href="#menu" />
    </svg>
    <div class="right">
        <a href="/">Our Story</a>
        <a href="/details">Details of the Day</a>
        <a href="/accommodations">Accommodations</a>
        <a href="/registry">Registry</a>
    </div>
</div>

<div class="wrapper">
    <section class="section static">



    </section>

</div>

<script src="/static/index.bundle.js"></script>
</body>
</html>
