<html>
    <head>
        <title>Bug Wedding!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="/static/index.bundle.css" rel="stylesheet" type="text/css">-->
    </head>
    <body>

        <header>
            <span>A VonAlbro Wedding!</span>
        </header>

        <div class="thing-wrapper">

            <div class="left-thing">
                <ul>
                    <li>Our Story</li>
                    <li>The Bridal Party</li>
                    <li>Wedding Details</li>
                    <li>Registry</li>
                    <li>RSVP</li>
                </ul>
            </div>
            <div class="right-thing">
                <img src="/static/970fc30ed7bcee5895f2d1c086a5b59c.jpg" alt="">

            </div>
        </div>



        <h2>What up buckeroo!</h2>
        <p>More to come soon, but this is where you can find all things bug wedding. Here, you will:</p>
        <ul>
            <li>RSVP</li>
            <li>Meet the Wedding Party</li>
            <li>request songs</li>
            <li>view photos</li>
        </ul>


        <script src="/static/index.bundle.js"></script>
    </body>
</html>